.container {
  padding: 16px;
  border: 2px solid gray;
  height: 210px;
  min-width: 241px;
}

.title {
  margin-bottom: 12px;
}

.items {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.total {
  margin-top: 12px;
}
